certifi
Flask
gunicorn
imutils
ipykernel
ipython
ipython-genutils
Jinja2
Keras
Keras-Preprocessing
opencv-python
scipy
seaborn
tensorflow-cpu
tornado
joblib
MarkupSafe
numpy
pandas
python-dotenv
pytz
six
sklearn
threadpoolctl
Werkzeug
WTForms
keras