<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Face Mask Detection</title>
  <!-- CSS only -->
<!--Boot Strap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--Glyphicons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



<!-- Fonts from google -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Chathura:wght@800&family=Girassol&family=Karantina&family=Niconne&family=Odibee+Sans&family=Romanesco&display=swap" rel="stylesheet"></head>

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<!-- JQuery from google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>


<body>
  <div class="container-fluid">
    <div class="row ml-3 mt-3 mr-3 mb-0"> 
      <div class="jumbotron flex-grow-1 mb-0" style="background-color:rgb(153, 147, 147);">
        <div class="container-fluid text-center">
          <h1 class="display-3">Face Mask Detection</h1>          
        </div>
      </div>
    </div>
  </div>

  <!-- row1 -->
    <div class="container-fluid">
        <!-- Row 2 -->
        <div class="row ml-3 mb-3 mr-3 mt-0 h-100">
            <!-- First Column-->
            <div class="col-md-3 p-0" style="background-color:rgb(153, 147, 147);">
              <div class="container set-height mt-5">
                <h5 class= "sel_opt">Browse An Image</h5>
                <div class="input-group py-6 bg-white shadow-sm" id ='file'>                                
                  <input id="upload" type="file"  class="form-control border-1 h-100">
                  <label id="upload-label" for="upload" class="font-weight-light text-muted"></label>
                </div>                  
              </div>
                <!-- Select a pre-existing Image -->
                <div >
                  <div class="container set-height">
                    <h5 class= "sel_opt">Select An Image</h5>
                    <select id="image">
                    </select>
                  </div>
                </div>
                <!-- Select web cam -->
                <div >
                  <div class="container set-height">
                    <h5 class= "sel_opt">Web Camera</h5>
                  </div>
                </div> 
            </div>
            <!-- Second Column-->            
            <div class="col-md-9" style="padding-left:60px;">

                                            
            </div>            
        </div>
        <!--row2 end-->
    </div>
    <!--container end -->
    

</body>
</html>